# Rx
## RxSwift(https://github.com/ReactiveX/RxSwift)
github "ReactiveX/RxSwift" ~> 5.0

# Network
## Moya(https://github.com/Moya/Moya)
github "Moya/Moya" "14.0.0-beta.6"

# Database
## Realm(https://github.com/realm/realm-cocoa)
github "realm/realm-cocoa"

# UI
## NVActivityIndicatorView(https://github.com/ninjaprox/NVActivityIndicatorView)
github "ninjaprox/NVActivityIndicatorView"

## NotificationBanner(https://github.com/Daltron/NotificationBanner)
github "Daltron/NotificationBanner" "master"

## IQKeyboardManager(https://github.com/hackiftekhar/IQKeyboardManager)
github "hackiftekhar/IQKeyboardManager"